* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 70px;
    width: bold;
}

.orange-color {
    color: orange;

}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.container .texts {
    width: 40%;
    margin-left: 10%;
}

.container .banner {
    width: 50%;
}

.container .banner img {
    max-width: 80%;
    margin-left: 10%;
}

.container p {
    margin-bottom: 4%;
}


.link-button {
    text-decoration: none;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 600;
    padding: 10px;

}

.container2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 10%;
    margin-top: 10%;


}

.container3 {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sub-container1 {
    width: 100%;
    background-color: rgb(170, 189, 197);
    margin-left: 10%;
    padding: 100px 10px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;



}

.sub-container2 {
    width: 100%;
    background-color: rgb(193, 169, 166);
    margin-left: 2%;
    margin-right: 2%;
    padding: 100px 10px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.sub-container3 {
    width: 100%;
    background-color: rgb(220, 223, 170);
    margin-right: 10%;
    padding: 100px 10px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;

}

.banner1 img {
    width: 40%;
    padding-left: 30%;

}

.container2 h1 {

    margin: auto;

}

.container4 {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 10%;
    margin-top: 10%;

}

.container4 .banner4 {
    width: 50%;


}

.back-img1 {
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: left 50px top 100px;


}


.container4 .banner4 img {
    max-width: 80%;
    margin-left: 30%;
    align-items: center;
    justify-content: center;
    margin-top: 10%;


}

.container4 .texts4 {
    padding: 4% 10% 10% 8%;
}

.container4 .texts4 p {
    margin-right: 40%;
    text-align: justify;
    margin-bottom: 2%;
}

.container5 {

    width: 100%;
    display: flex;
    flex-direction: row;
    border: 10%;
    margin-top: 10%;
}

.container5 .banner5 img {
    max-width: 60%;
}

.container5 .texts5 {

    margin: auto;
    padding-left: 20%;
}

.container5 .texts5 p {
    text-align: justify;
    margin-right: 30%;
    margin-bottom: 4%;
}

.back-img2 {
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: right 50px bottom 10px;
}

.container6 {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.container7 {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.texts6 {
    margin: auto;
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: medium;
}

.banner6 {
    width: 50%;
    padding-left: 20%;
    padding-right: 5%;
}

.banner6 img {
    width: 60%;
    padding-left: 20%;
    border-radius: 25px;
    padding-bottom: 10%;

}

.texts7 p {
    margin-right: 40%;
    padding-bottom: 2%;


}

.container8 {
    width: 100%;
    color: white;
    margin: auto;
    background-color: black;
}

.red-color {
    color: red;
}

.texts8 {
    text-align: center;
    margin: auto;

}

.border1side {

    border-left: 8px solid;
    border-image: linear-gradient(rgb(249, 5, 5), rgb(103, 8, 8));
    border-image-slice: 1;
    padding-left: 20px;
}

.backgraund2 {
    background-image: url(images/shapes/shape-1.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: left 350px top 10px;
}